@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tx-altfont-1 {     font-family: 'Raleway', sans-serif !important}
.tx-altfont-3 { font-family: 'Gajraj One', cursive !important}
.tx-altfont-4 {     font-family: 'Marko One', serif !important}
.tx-altfont-5 {     font-family: 'Lobster', serif !important}

.mainbgchange {
    background: linear-gradient(-45deg, #C2E6F4, #9CDAF2);
}
.invertbgchange {
    background: linear-gradient(-45deg, #C2E6F4, #9CDAF2);
    animation: invbgchange 60s;  animation-iteration-count: infinite;
}
@keyframes invbgchange {
    0%, 10% {filter: invert(0); }
    18% {filter: invert(0); /* Thunder-like effect */}
    18.1% {filter: invert(1); /* Thunder-like effect */}
    18.2% {filter: invert(.3); /* Thunder-like effect */}
    19% {filter: invert(.1); /* Thunder-like effect */}
    20.1% {filter: invert(.2); /* Thunder-like effect */}


    22.2% {filter: invert(.1); /* Thunder-like effect */}
    22.3% {filter: invert(1); /* Thunder-like effect */}
    22.9% {filter: invert(.3); /* Thunder-like effect */}
    23% {filter: invert(.5); /* Transition to grey */}
    23.2% {filter: invert(.2); /* Transition to grey */}
    23.8% {filter:invert(1); /* Complete inversion */}
    23.9% {filter:  invert(.8); /* Complete inversion */}
    24% {filter: invert(.3); /* Complete inversion */}
    24.1% {filter: invert(1); /* Start reverting with some grey */}

    25.1% {filter: invert(1); /* Start reverting with some grey */}
    26% {filter: invert(1) brightness(100%); /* Start reverting with some grey */}
    29% {filter: invert(1) brightness(66%); /* Start reverting with some grey */}
    31% {filter: invert(1) brightness(100%); /* Start reverting with some grey */}
    32% {filter: invert(1) brightness(90%); /* Start reverting with some grey */}
    32.1% {filter: invert(0) brightness(10%); /* Start reverting with some grey */}
    32.2% {filter: invert(1) brightness(100%); /* Start reverting with some grey */}
    
    
    
    40% {filter: invert(1); /* Start reverting with some grey */}
    41% {filter: invert(.9); /* Start reverting with some grey */}
    41.1% {filter: invert(0); /* Start reverting with some grey */}
    41.2% {filter: invert(1); /* Start reverting with some grey */}
    41.3% {filter: invert(.2); /* Start reverting with some grey */}
    42% {filter: invert(.1); /* Start reverting with some grey */}
    43% {filter: invert(0); /* Start reverting with some grey */}

    50% {filter: invert(0); opacity: 1;/* Start reverting with some grey */}
    71% {filter: invert(0); opacity: 0; }
    81% {filter: invert(0); /* Start reverting with some grey */}



    100% {filter: invert(0); opacity: 1; /* Back to original */}
}
.hover-6{animation: hover 6s;  animation-iteration-count: infinite }

.audioIcon {
        top: 33%;
        right: 5%
}
@media only screen and (min-width: 0601px) {
    .audioIcon {
        top: 50%;
        right: 25%;
    }
}


@keyframes hoverjump {
	0%{transform: translateY(0px)}
	33%{transform: translateY(0px)}
  35%{transform: translateY(-15px) rotate(7deg);}
  36%{transform: translateY(-12px) rotate(-3deg);}
  38%{transform: translateY(0px)}
  39%{transform: translateY(-4px)}
  40%{transform: translateY(-3px)}
  41%{transform: translateY(0px)}
  100%{transform: translateY(0px)}
}
@keyframes hoverc {
	0%{transform: translateY(-10px)}
	33%{transform: translateY(-10px)}
  50%{transform: translateY(10px)}
  90%{transform: translateY(10px)}
  100%{transform: translateY(-10px)}
}

.hover-jump{animation: hoverjump 10s;  animation-iteration-count: infinite }
.hover-27{animation: hoverc 27s;  animation-iteration-count: infinite }
.hover-31{animation: hoverc 31s;  animation-iteration-count: infinite }
.hover-43{animation: hoverc 43s;  animation-iteration-count: infinite }

.some-shakefull-1{animation: someshakefull 5s;  animation-iteration-count: infinite }



@keyframes someshakefull {
	0%{transform: rotate(0deg)}
	45%{transform: rotate(0deg)}
  49%{transform: rotate(10deg)}
  52%{transform: rotate(-10deg)}
  55%{transform: rotate(0deg)}
  100%{transform: rotate(0deg)}
}